.navBar {
  background-color: #333533 !important;
  box-shadow: 0px 15px 10px -15px #111;
}

.navbar-toggler {
  color: #ffffff!important;
  border: none!important;
  outline: none!important;
}
.centerIcon {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75px;
}
.navBarIcon {
  width: 50px;
}
.outer-wrapper {
  width: 100%;
  min-height: 75vh!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
    width: 100%;
    /* FLEX */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333533;
    align-items: flex-start;
    opacity: 0.95;
    border-radius: 25px;
    border: 2px solid #333533;
}
.homeText {
  font-size: 50px;
  text-shadow: 5px 10px 15px sandybrown;
}
.homeTextSlogan {
  font-size: 25px;
}
.homeBtnView {
  font-size: 20px!important;
  background-color: #333533 !important;
  color: white!important;
  border: 1px solid sandybrown!important;
}

/*Card CSS*/
.cardForm {
  justify-content: center!important;
  align-items: center!important;
  width: 30%;
  max-height: 30%;
  background-color: #FEFCFF!important;
}
@media only screen and (max-width: 425px){
  .cardForm {
    justify-content: center!important;
    align-items: center!important;
    width: 87.5%;
    /*max-height: 30%;*/
  }
  .cardDesc {
    height: 170px;
  }
}
@media only screen and (min-width: 426px)and (max-width: 767px){
  .cardForm {
    justify-content: center!important;
    align-items: center!important;
    width: 90%;
    /*max-height: 30%;*/
  }
  .cardDesc {
    height: 150px;
  }
}
@media only screen and (min-width: 768px)and (max-width: 1023px){
  .cardForm {
    justify-content: center!important;
    align-items: center!important;
    width: 45%;
    /*max-height: 30%;*/
  }
  .cardDesc {
    height: 150px;
  }
}
.cardTitle {
  font-weight: bold!important;
  font-size: 25px!important;
  height: 50px;
}
.cardDesc {
  height: 120px;
}
.cardPrice {
  font-weight: bold!important;
  font-size: 20px;
}
.viewBtn {
  font-size: 18px!important;
  background-color: #333533 !important;
  color: white!important;
  border: 1px solid sandybrown!important;
  display: block;
  justify-content: color!important;
  align-items: center;
  margin: auto;
}

.productViewText {
  font-size: 30px!important;
  text-shadow: 5px 10px 15px sandybrown;
}

body {
  font-family: 'Abhaya Libre', serif!important;
}
.jumbotronForm {
  background-image: url('./../public/icedCoffeeBg.jpg');
  height: 108vh!important;
  background-size: cover!important;
  background-position: center;
  color: #ffffff;
  border-radius: 0px!important;
  margin-bottom: 0rem!important;
  opacity: 0.90;
}
.jumbotron {
  background-image: url('./../public/bg.jpg');
  height: 94vh;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  border-radius: 0px!important;
  margin-bottom: 0rem!important;
}
@media only screen and (max-width: 1000px){
  .navBar {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navBar-nav a {
    margin: 0px 5px 0 17px;
    margin-top: 30px;
  }
  .nav-link:hover {
    border-bottom: none;
  }
  .intro {
    padding-top: 130px;
  }
}